/*  Merriweather And Inter Font Link */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* Universal select */
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

body {
    background-color: #fff;
}

/* header parts */
header {
    max-width: 82%;
    margin: 50px auto 0;
    background-image: url(../resources/Banner\ Image.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    margin-bottom: 120px;
}

.banner {
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}

.year-text {
    width: 632px;
    margin: 0 auto;
    padding: 177px 0;
}

.year-title {
    color: #fff9f9;
    text-align: center;
    font-family: Merriweather;
    font-size: 26px;
    font-weight: 400;
    margin-bottom: 20px;
    text-shadow: 2px 2px 3px black;
}

.year-party {
    color: #fff9f9;
    text-align: center;
    font-family: Merriweather;
    font-size: 59px;
    font-weight: 900;
    text-shadow: 2px 2px 3px black;
}

/* main part style */
main {
    max-width: 82%;
    margin: 0 auto;
}

.offer-contain {
    max-width: 802px;
    margin: 0 auto;
    margin-bottom: 126px;
}

.offer-point {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 48px;
}

.offer-details {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 12px;
}

.offer-subject {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 48px;
}

.offer-contain>img {
    max-width: 100%;
}

/* party related style */
.party-banner {
    background: url('../resources/Vectorrr.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    margin-bottom: 126px;
}

.party-contain {
    display: flex;
    gap: 40px;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 8px;
    padding: 68px 126px;
}

.party-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 52px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-bottom: 20px;
}

.party-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
}

.party-text-part {
    max-width: 580px;
}

.btn {
    color: #FFF;
    font-family: Inter;
    font-size: 17px;
    font-weight: 700;
    background: rgb(88, 40, 136);
    padding: 13px 26px;
    border: 1px solid rgba(7, 2, 17, 0.00);
    cursor: pointer;
    border-radius: 55px 4px;
    margin-top: 1px;
    transition: 0.6s;
    margin-left: 30px;
    text-transform: uppercase;
}

.btn:hover {
    background: transparent;
    color: rgb(156, 223, 57);
    text-shadow: 1px 1px 2px red;
    border: 1px solid rgb(156, 223, 57);
}

.party-img>img {
    max-width: 100%;
}

/* details related style */
.details-banner {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    padding: 100px 0;
    border-radius: 8px;
    margin-bottom: 120px;
}

.details-text {
    color: #070211;
    font-family: Inter;
    text-align: center;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.details-time {
    width: 550px;
    margin: 0 auto;
    text-align: center;
}

.reds {
    color: #F00;
}

.btn-primary {
    margin-top: 40px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 8px;
    padding: 12px 24px;
    background: rgb(221, 0, 0);
    border: 1px solid transparent;
}

.btn-primary:hover {
    background: rgb(131, 0, 0);
    border: 1px solid greenyellow;
    box-shadow: 1px 1px 2px red;
    color: rgb(72, 255, 72);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

/* Coming container related */
.coming-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

.best-container {
    max-width: 360px;
}

.best-name {
    color: #F00;
    text-align: left;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.best-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 11px;
    margin-bottom: 22px;
}

.best-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.year-number {
    color: #F00;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
}

.number-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 30px;
    margin-top: 5px;
}

.img-container>img {
    width: 298px;
    border: 15px solid #F00;
    padding: 40px;
    border-radius: 100%;
}

.year-container {
    max-width: 250px;
    padding-top: 25px;
}

.year-container>img {
    width: 115px;
    height: 115px;
}

/* Holiday related */
.holidays-container{
    max-width: 876px;
    margin: 0 auto 52px;
    text-align: center;
}
.holiday-name {
    color: #070211;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.holiday-title {
    color: #F00;
    font-family: Merriweather;
    font-size: 59px;
    font-style: normal;
    font-weight: 900;
    margin-bottom: 23px;
}
.black-color{
    color: #070211;
}

.holiday-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 360px;
}
.holiday-img{
    text-align: center;
    height: 229px;
    position: relative;
}
.posi-img1{
    width: 353px;
    position: absolute;
    bottom: 187px;
    left: 729px;
}
.posi-img1>img{
    max-width: 100%;
}
.posi-img2{
    max-width: 1082px;
    position: absolute;
    bottom: 0% ;
    left: 0% ;
}
.posi-img2 > img{
    max-width: 100%;
}


.posi-img3{ 
    max-width: 169px ;
    position: absolute;
    bottom: 104%;
    left: 59%;
}
.posi-img3>img{
    max-width: 100%;
}
.posi-img4{
    max-width: 653px;
    position: absolute;
    bottom: 1%;
    left: 3%;
}
.posi-img4>img{
    max-width: 80%;
}